.SelectionLgs{

    width: 140px;
    color: white;
    height: 50px;
    border-radius: 7px;
}

.Section{
    background: #343F52;
    display: inline-block;
    border-radius: 50px;
    /*margin-left: 450px;
    margin-top: -200px;*/
    height: 50px;
    width: 100px;
}