.SearchBar {
    width: 90%;
    height: 3%;
}

.searchBarInput {
    border: 3px solid var(--secondary);
    border-radius: 1rem;

    width: 100%;
    height: 100%;

    margin-top: 5%;
    text-align: center;
}

.searchBarInput:focus {
    outline: none;
    box-shadow: none;
    border: 3px solid var(--accent);
    border-radius: 1rem;
}
