.SearchBar {
    border: 3px solid var(--secondary);
    border-radius: 1rem;

    width: 90%;
    height: 3%;

    margin-top: 5%;
    text-align: center;
}

.SearchBar:focus {
    outline: none;
    box-shadow: none;
    border: 3px solid var(--accent);
    border-radius: 1rem;
}
