@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.Header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    height: 50px;
    max-width: 100%;

    background-color: var(--accent);
}

.logo {
    height: 45px;
}

.selectLanguage {
    appearance: none;

    border: none;
    border-radius: 1rem;

    display: flex;

    width: 3%;
    height: 50%;

    text-align: center;
    background-color: var(--secondary);
}

h1 {
    color: var(--secondary);
    font-size: 1.6rem;
    font-family: 'Pacifico', cursive;
}
