.SelectionBar {
    width: 280px;
    color: white;
    height: 50px;
    border-radius: 7px;
}

.section1 {

    background: #343F52;
    display: inline-block;
    border-radius: 7px;
    /*margin-right: 120px;*/
    height: 50px;
    border-radius: 50px;
    width: 280px;
}

