.Footer {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 50px;
    width: 100%;

    background-color: var(--accent);
}

span {
    color: var(--secondary);
    text-align: center;
}
