.sections {
    height: 100%;
    display: flex;
    flex-direction: row;
    max-width: 100%;
}

.search {
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.results {
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
