:root {
    --bg: #040f13;
    --accent: crimson;
    --secondary: white;
    --speed: 500ms;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    max-height: 100vh;
    background-color: var(--bg);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: var(--secondary);
    text-decoration: none;
}
